/*Lugar de importação da fonte*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,500;1,600&display=swap');

* {
    /*magens da tela*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

/*PADRONIZAÇÃO GERAL - CONTROLE DE PADRÃO AQUI*/
:root {
/*paleta de cor*/
--white-color: #fff;
--dark-color: rgb(0, 0, 0);
--primary-color: rgb(85, 67, 188) ;
--secondary-color: rgb(56, 33, 138);
--ligth-pink-color: #fff;
--medium-gray-color: #d3b5fd;

/*tamanho da fonte*/
--font-size-s: 0.9rem;
--font-size-n: 1rem;
--font-size-m: 1.12rem;
--font-size-l: 1.5rem;
--font-size-xl: 1.9rem;
--font-size-xxl: 2.3rem;

/*peso da fonte*/
--font-weight-normal:400;
--font-weight-medium:500;
--font-weight-semibold:600;
--font-weight-bold:700;

/*raio(curvatura) da borda*/
--border-radius-s: 8px;
--border-radius-m: 30px;
--border-radius-circle: 50px;

/*largura máxima do site*/
--site-max-width: 1300px;

}

html{
    scroll-behavior: smooth;
}

/*Tela inicial Geral - !Estilo para todo o site! */
ul {
   list-style: none; 
}

a{
text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

igm {
width: 100%;
}

.section-content{
margin: 0 auto;
padding: 0 20px;
max-width: var(--site-max-width)
}

/*estilo do Menu/navbar*/
 header {
position: fixed;
width: 100%;
z-index: 5;
background: var(--primary-color);
}

header .navbar {
display: flex;
padding: 20px;
align-items:center;
justify-content: space-between;

}

.navbar .nav-logo .logo-text {
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu {
display: flex;
gap: 10px;

}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: var(--white-color);
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
    color: var(--primary-color);
    background: var(--white-color);
}

.navbar :where(#menu-close-button, #menu-open-button){
display: none;


}

/*Seção do Heroi? ,_, (é a tela inicial rsrs)*/

.hero-section {
    min-height: 100vh;
background: var(--primary-color);
}

.hero-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
}

.hero-section .hero-details .title{
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);

   
}

.hero-section .hero-details .subtitle{
    margin-top: 8px;
    max-width: 70%;
    font-size: var(--font-size-xl);
    font-weight: ]var(--font-weight-semibold);
}

.hero-section .hero-details .description{
   max-width: 70%;
   margin: 24px 0 40px; 
font-size: var(--font-size-m);
}

.hero-section .hero-details .buttons{

display: flex;
gap: 23px;
}

.hero-section .hero-details .button {
padding: 10px 26px;
border: 2px solid transparent;
color: var(--primary-color);
border-radius: var(--border-radius-m);
background: var(--white-color);
font-weight: var(--font-weight-medium);
transition: 0.3s ease;
}

.hero-section .hero-details .button:hover,
.hero-section .hero-details .contact-us{
color: var(--white-color);
border-color: var(--white-color);
background: transparent;

}

.hero-section .hero-details .contact-us:hover{
    color: var(--secondary-color);
    border-color: var(--white-color);
    background: var(--white-color);
}

.hero-section .hero-image-wrapper{
    max-width: 500px;
    margin-right: 40px;
}

/*menu lateral adaptavel*/
@media screen and (max-width: 900px){

    :root{
        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 1.8rem;
    }

    body.show-mobile-menu header::before{
        content:"";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(17, 1, 27, 0.167);

    }

    .navbar :where(#menu-close-button, #menu-open-button){
        display: block;
font-size: var(--font-size-l);
    }

    .navbar #menu-close-button{
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .navbar #menu-open-button{
        color: var(--white-color);
    }

    .navbar .nav-menu .nav-link:hover {
        color: var(--white-color);
        background: var(--primary-color);
    }

    .navbar .nav-menu  {
display:block;
position: fixed;
left:-300px;
top: 0;
width: 300px;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
padding-top: 100px;
background: var(--white-color);
transition: left 0.2s ease;
    }

    body.show-mobile-menu .navbar .nav-menu{
        left: 0;

    }

    .navbar .nav-menu .nav-link {
        color: var(--dark-color);
        display:block;
        margin-top: 17px;
        font-size: var(--font-size-l);
    }

    .hero-section .section-content {
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .hero-section .hero-details :is(.subtitle, .description){
max-width: 100%;
    }

    .hero-section .hero-details .buttons{

    justify-content: center;
    }

    .hero-section .hero-image-wrapper{
max-width: 270px;
margin-right: 0px;
        }

}

/*seção distrações*/

.distracao-section .menu-list {

display: flex;
flex-wrap: wrap;
gap: 110px;
align-items: center;
justify-content: space-between;
}

.distracao-section .menu-list .menu-item {
  
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 3 - 110px);

}

.distracao-section .menu-list .name{
  
    padding: 50px 0 20px;
    font-size: var(--font-size-l);
}

@media  screen and (max-width: 640px) {
.distracao-section .menu-list{
gap: 60px;
}

.distracao-section .menu-list .menu-item{
    width: 100%;
    }
}

/*Seção sobre nós*/
.section-title{
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
}

.section-title::after{
    content: "";
    width: 80px;
    height: 5px;
    display:block;
margin: 10px auto 0;
border-radius: var(--border-radius-s);
    background: var(--primary-color);
}

.about-section {
    padding: 50px 0 100px;
    background: var(--ligth-pink-color);
}

.about-section .about {
    display: flex;
    padding: 35px;
    text-align: center;
    flex-direction: column;
    align-items: center;

}

.about-section .about .user-image {
width: 180px;
height: 180px;
object-fit: cover;
margin-bottom: 50px;
border-radius:var(--border-radius-circle);
cursor: zoom-in;
transition: 0.4s ease;
}

.about-section .about:hover .user-image{
    transform: scale(1.2);
}

    .about-section .about .name{
margin-bottom: 16px;
font-size: var(--font-size-m);

    }

    .about-section .about .feedback{
        line-height: 25px;
    }

    .about-section .about .objetivo {
        text-align: center;
        padding: 55px 0 20px;
        text-transform: uppercase;
        font-size: var(--font-size-xl);
    }

    .about-section .about .objetivo::after{
        content: "";
        width: 400px;
        height: 2px;
        display:block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
        background: var(--primary-color);
    }